# Java
build/
.gradle/
bin/

# Node
node_modules/
dist/
dist.zip

# Python
venv/
.venv/
__pycache__/
*.pyc

# IDE & System
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.iml

# OS
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Project specific
front/src/assets/*
!front/src/assets/*.svg